/* element ui 重写 */
.el-message__content {
  width: 325px;
  word-break: break-all;
  line-height: 1.5;
}
.el-progress {
  margin-top: 0 !important;
  position: static !important;
}
.el-progress__text {
  top: 8px !important;
}

.el-dialog {
  max-width: 766px;
}

.el-select-dropdown {
  max-width: 200px;
}

.el-card {
  max-width: 400px;
}
@media screen and (max-width: 700px) {
  .el-message-box {
    width: auto;
    max-width: 300px;
  }
  .el-pagination {
    flex-wrap: wrap;
    justify-content: center;
  }
  .el-pagination > * {
    margin-bottom: 10px !important;
  }
}

/* 一些高频公共样式 */
.flex {
  display: flex;
}

.fc {
  justify-content: center;
}

.fac {
  align-items: center;
}

.tc {
  text-align: center;
}
.p10 {
  padding: 10px;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ellipsis label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
